
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&display=swap');

/* ========================= Body =========================  */

* {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bold;
 letter-spacing: 1px;
}