
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100;1,300&display=swap');

/* ========================= Body =========================  */

                    *{

                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }


                    .fa-facebook { color: black; }
                    .fa-instagram { color: black; }
                    .fa-twitter { color: black; }
                    .carousel-item {
                        height: 32rem;
                        background: #777;
                        color: white;
                        position: relative;
                    }   


                    .fa-brands {
                        padding: 20px;
                        font-size: 30px;
                        text-align: center;
                        text-decoration: none;
                        }
        
                        
                        .fa:hover {
                        opacity: 0.7;
                     }



                    .card {
                        border: 0px;
                        
                    }

                    #card6 {
                        font-size: 80%;
                    }

                    #card-hover {
                        font-size: 850%;
                    }


  /* ========================= Underline-Hover-Link ========================= */

                    a {
                        position: relative;
                        color: #000;
                        text-decoration: none;
                    }
                    

                    a:hover {
                        color: #000;
                    }
                    

                    a::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #000;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    
                    a:hover::before {
                        transform: scaleX(1);
                    }



                    .btn:hover {
                        background-color: #C0B3A0;
                        color: rgb(248, 238, 238);
                    }


  /* ========================= Hover-Button-Image-Link ========================= */

                    #container {
                        position: relative;
                        width: 300px;
                    }
                    

                    #image {
                        opacity: 1;
                        display: block;
                        width: 50%;
                        height: 300px;
                        transition: .5s ease;
                        backface-visibility: hidden;
                    }
                    


                    #middle {
                        transition: .5s ease;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;
                    }
                    

                    #container:hover #image {
                        opacity: 0.3;
                    }
                    

                    #container:hover #middle {
                        opacity: 1;
                    }
                    
                    
                    #text {
                        background-color: #04AA6D;
                        color: white;
                        font-size: 16px;
                        padding: 16px 32px;
                    }

                    

