

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');
<<<<<<< HEAD
/* ========================= Body =========================  */
                *{

                  font-family: 'Raleway', sans-serif;
                  font-weight: bold;
                }

                .fa-brands {
                padding: 20px;
                font-size: 30px;
                text-align: center;
                text-decoration: none;
                }

                .fa:hover {
                opacity: 0.7;
                }


                .fa-facebook { color: black; }
                .fa-instagram { color: black; }
                .fa-twitter { color: black; }
                .carousel-item {
                    height: 32rem;
                    background: #777;
                    color: white;
                    position: relative;
                }


                .carousel-container {
                    position:absolute;
                    bottom: 50px;
                    left: 200px;
                    right: 0;
                    padding-bottom: 50px;
                }


                .overlay-image {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    background-position: center;
                    background-size: cover;
                    opacity: 0.7;
                }
>>>>>>> fd681a6a46ed12742d1a1decee6101d77698a5d6

/* ========================= Body =========================  */

            *{
              font-weight: bold;
            }

            .card {
              border: 0px;
          }
          
          
            #card6 {
                font-size: 90%;
            }
          
            #card-hover {
                  font-size: 850%;
            }
        

/* ========================= Navigation ========================= */
            .fa-brands {
                padding: 20px;
                font-size: 30px;
                text-align: center;
                text-decoration: none;
            }


            .fa:hover {
                  opacity: 0.7;
            }


            .fa-facebook { color: black; }
            .fa-instagram { color: black; }
            .fa-twitter { color: black; }
            .carousel-item {
                  height: 32rem;
                  background: #777;
                  color: white;
                  position: relative;
            }


            .carousel-container {
                position:absolute;
                bottom: 50px;
                left: 200px;
                right: 0;
                padding-bottom: 50px;
            }


              .overlay-image {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  top: 0;
                  background-position: center;
                  background-size: cover;
                  opacity: 0.7;
              }



/* ========================= Flip-Card ========================= */
                #flip-card {
                    background-color: transparent;
                    width: 800px;
                    height: 600px;
                    perspective: 1000px;
                  }
                  
                  #flip-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                  }
                  
                #flip-card:hover #flip-card-inner {
                    transform: rotateY(180deg);
                  }
                  
                  #flip-card-front, #flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                  }
                  
                  #flip-card-front {
                    background-color: #bbb;
                    color: black;
                  }
                  
                  #flip-card-back {
                    background-color: white;
                    color: black;
                    transform: rotateY(180deg);
                  }



/* ========================= Underline-Hover-Link ========================= */

                  a {
                    position: relative;
                    color: #000;
                    text-decoration: none;
                  }
                  
                  a:hover {
                    color: #000;
                  }
                  
                  a::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                  }
                  
                  a:hover::before {
                    transform: scaleX(1);
                  }


                  .btn:hover {
                    background-color: rgb(254, 9, 9);
                    color: rgb(248, 238, 238);
                  }


  
 
/* ========================= Hover-Button-Image-Link ========================= */

                    #container {
                      position: relative;
                      width: 300px;
                    }
                    
                    #image {
                      opacity: 1;
                      display: block;
                      width: 50%;
                      height: 300px;
                      transition: .5s ease;
                      backface-visibility: hidden;
                    }
                    
                    #middle {
                      transition: .5s ease;
                      opacity: 0;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      -ms-transform: translate(-50%, -50%);
                      text-align: center;
                    }
                    
                    #container:hover #image {
                      opacity: 0.3;
                    }
                    
                    #container:hover #middle {
                      opacity: 1;
                    }
                    
                    #text {
                      background-color: #04AA6D;
                      color: white;
                      font-size: 16px;
                      padding: 16px 32px;
                    }