@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');
*{
  font-weight: bold;
}
.fa-brands {
padding: 20px;
font-size: 30px;
text-align: center;
text-decoration: none;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook { color: black; }
.fa-instagram { color: black; }
.fa-twitter { color: black; }
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}
.carousel-container {
    position:absolute;
    bottom: 50px;
    left: 200px;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}