/* ========================= Body =========================  */
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  letter-spacing: 1px;
}
  /* HOMEPAGE CSS */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .fa-brands {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  }
  .fa:hover {
  opacity: 0.7;
  }
   /* Carousel */

   .carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
  }
  .carousel-container {
    position:absolute;
    bottom: 50px;
    left: 200px;
    right: 0;
    padding-bottom: 20px;
  }
  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  .rounded-circle {
    border-radius: 50%;
  }
  .team-member {
  margin-bottom: 3rem;
  text-align: center;
  }
  .team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  }
  .page-section {
  padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  }

.color{
   
    text-decoration: underline;
}

/* Dropdown */

.dropdown-menu{
    border:none;
}

.viewsort{
    float:left;
}


.categories{
    margin:70px 0;

}


.small-container{

margin:auto;
padding-left: 25px;
padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    height: 250px;
    width: 350px;
}


.title{
        text-align:center;
       
        position: relative;
        line-height: 60px;
        
    }
.title::after{
        content:'';
        background: grey;
        width: 80px;
        height:5px;
        border-radius: 5px;
        position: absolute;
        bottom:0;
        left: 50%;
        transform:translateX(-50%)
}

.col-4:hover{
    transform:translateY(-5px);
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }

  .btn:hover {
    background-color: #C0B3A0;
    color: rgb(248, 238, 238);
  }