@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  /* HOMEPAGE CSS */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .fa-brands {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  }
  .fa:hover {
  opacity: 0.7;
  }
  .carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
  }
  .carousel-container {
    position:absolute;
    bottom: 50px;
    left: 200px;
    right: 0;
    padding-bottom: 20px;
  }
  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  .rounded-circle {
    border-radius: 50%;
  }
  .team-member {
  margin-bottom: 3rem;
  text-align: center;
  }
  .team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  }
  .page-section {
  padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  }



/* SHOES PAGE CSS */
.card-body{
    text-align: center;
  }
#imgcard-1 .img-one:hover {
    display: block;
    border: 2px solid black;
}














